@import './components/registration.scss';
@import './components/profiles.scss';
@import './components/navbar.scss';
@import './components/plantdetail.scss';
@import './components/navbar.scss';
@import './components/plantOverview.scss';
@import './components/home.scss';
@import './components/footer.scss';
@import './components/base.scss';
@import './components/searchPage.scss';
@import './components/recommendations.scss';
@import './components/addPlant.scss';
@import './components/aboutus.scss';

* {
  font-family: 'Cormorant Garamond', serif;
}

$darkest: #36454F; //charcoal colour
// $dark: #;
$medium: #307351; //matte green colour
// $light: ;
$lightest: #f2f2f2; //light grey colour