

#aboutus-wrapper{
  display: flex;
}

.aboutus-left{
  width: 33%;
  margin-left: 6%;
  margin-right: 4%;
  h2{
    font-weight: bold;
    color:#0A3D3E;
  }
}
.aboutus-right{
  width: 50%;
  margin-right: 5%;
  h2{
    margin-bottom: 0;
    font-weight: bold;
    color:#0A3D3E;
  }
  button{
    background-color: white;
    font-size: 1.25rem;
    padding-left: 0;
    padding-top: 0;
    padding-bottom: 1%;
  }
  button:focus{
    text-decoration: underline;
  }
}

#credits{
  margin-left: 6%;
  margin-top: 2%;
  margin-bottom: 5%;
  width: 33%;
  a{
    text-decoration: none;
    color: black;
    margin-right: 2%;
  }
}
#aboutus-header{
  margin-top: 3%;
  margin-bottom: 2%;
  text-align: left;
  margin-left:6%;
  font-weight: bold;
    color:#0A3D3E;
}