
*{
  box-sizing: border-box;
}

body{
  margin: 0;
}

.site-wrapper{
  position: relative;
  min-height: 110vh;
  width: 100%;
}

.content-wrap{
  padding-bottom: 2.5rem;
}

.gif-wrapper {
  text-align: center;
  margin-left: 30%;
}
