.home-page {
  background-image: url('../../../../public/images.png/home-3.png');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 105vh;
}

.home-content {
  margin-left: 10%;
  padding-top: 10%;
  width: 35%;
  h1 {
    text-align: left;
    font-size: 60px;
    color: #0A3D3E;
  }
  h3 {
    font-size: 25px;
    color: #0A3D3E;
  }
  .navigation{
    padding-top: 5%;
    width: 50%;
  }
  a {
    text-decoration: none!important;
  }
  h4 {
    padding-top: 0.5%;
    color: #0A3D3E;
    font-weight: bold;
  }
  .zoom {
    transition: transform 1s;
  }
  .zoom:hover {
    transform: scale(1.5);
  }
}