
input{
  color: black;
  border-radius: 10px;
  border: 1px solid lightgray;
  padding-left: 10px;
  margin-left: 30px;
}

.navLogo{
  max-width: 35px;
}
.nav-left{
  display: flex;
  align-items: center;
}
.nav-right{
  display: flex;
}

.navbar-collapse{
  text-align: center;
}

.nav-logout{
  color: red;
  margin-bottom: 0;
}

.navbar-h2{
  position: absolute;
  left: 50%;
  margin-left: -50px !important;
  display: block;
}

.nav-link{
  width: 100px;
}