.plant {
  >a {
  text-decoration: none;
  color: white;
  }
}

.plants-wrapper {
  max-width: 40%;
  float: right;
  margin-right: 15%;
      .card {
        // transition: 0.7s;
        border: none;
        position: relative;
        .card-img {
          transition: .5s ease;
          opacity: 1;
          // max-height: 250px;
          // max-width: 200px;
        }
        .middle {
          transition: .5s ease;
          opacity: 0;
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          -ms-transform: translate(-50%, -50%);
          text-align: center;
          .text {
            color: #464646;
            font-size: 16px;
            padding: 16px 32px;
          }
        }
        .card-title {
          color: #6b6b6b;
          transition: .5s ease;
        }
      }
}

.card:hover .card-img {
  opacity: 0.4;
}
.card:hover .middle {
  opacity: 1;
}
.card:hover .card-title {
  opacity: 0.4;
}


// .sciname-container {
//   position: relative;
//   width: 100%;
// }
