.site-wrapper {
  // background-color: rgb(236, 236, 236);
}


// ? Plants display

.plant {
  text-align: -webkit-center;
  .link-container {
    max-width: 100%;
    > a {
      text-decoration: none;
      color: white;
    }
  }
}

.display-plants
.bstrap-container {
  display: flex;
  max-width: 100%;
  .bstrap-row {
    align-items: end;
  }
}

.plants-container {
  // float: right;
  margin-top: 5%;
  margin-right: 15%;
  max-width: 80%;
  background-color: white;
  padding: 20px;
  .card {
    border: none;
    // position: relative;
    // background-color: rgb(236, 236, 236);
    transition: 0.4s ease;
    // box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    .card-img-container {
      position: relative;
    }
    .card-img {
      transition: 0.4s ease;
      opacity: 1;
    }
    // .middle {
    //   transition: 0.8s ease;
    //   opacity: 0;
    //   position: absolute;
    //   top: 50%;
    //   left: 50%;
    //   transform: translate(-50%, -50%);
    //   -ms-transform: translate(-50%, -50%);
    //   text-align: center;
      .ease {
        color: #6b6b6b;
        // font-size: 16px;
        // padding: 16px 32px;
        // font-style: italic;
        font-size: 0.6rem;
        opacity: 0;
        transition: 0.5s ease;
      }
    // }
    .card-title {
      color: #6b6b6b;
      transition: 0.5s ease;
      font-size: 0.75rem;
    }
    .sci-name {
      color: #6b6b6b;
      opacity: 0;
      transition: 0.5s ease;
      font-style: italic;
      width: 100%;
      font-size: 0.6rem;
    }
  }
}

.text {
  text-align: left;
  margin: 0;
}


.card:hover .card-img,
.card:hover .card-title {
  // opacity: 0.4;
}


.card:hover {
  // box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.card:hover .middle{
  opacity: 1;
}

.card:hover .sci-name {
  opacity: 1;
}

.card:hover .text {
  opacity: 1;
}

// .sciname-container {
//   position: relative;
//   width: 100%;
// }

// ? Filters

.reset {
  padding: 20px;
}

.filters-container {
  background-color: rgb(236, 236, 236);
  padding: 50px
}

.index-wrapper {
  display: flex;
  // justify-content: space-between;
  .icons-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    .icon {
      max-width: 25px;
    }
  }
}

button {
  padding: 25px;
  border: none;
}

.can {
  background-image: url('../../../../public/images.png/watering-can.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.can-colour {
  background-image: url('../../../../public/images.png/water-selected.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.sun {
  background-image: url('../../../../public/images.png/sunny.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.sun-colour {
  background-image: url('../../../../public/images.png/sunny-selected.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.bulb {
  background-image: url('../../../../public/images.png/light-bulb.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.bulb-on {
  background-image: url('../../../../public/images.png/light-bulb-selected3.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.thumb {
  background-image: url('../../../../public/images.png/ease.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.thumb-colour {
  background-image: url('../../../../public/images.png/ease-selected.png');
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.label-icon {
  // display: flex;
  justify-content: space-between;
}
