.overall-container {
  margin-top: 30px;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;

  .top-page {
    display: flex;
    height: 100vh;
    justify-content: center;
  }

  .left-page {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    width: 100%;
    align-items: center;
  }

  .plant-pic {
    height: 400px;
    width: 75%;
    align-items: center;

    img {
      margin-right: 0;
    }
  }

  .seeded-rating {
    display: flex;
    flex-direction: column;
    align-items: center;

    .seeded-title {
      text-align: center;

      h4 {
        font-size: 16px;
      }
    }

    .seeded-detail {
      padding: 20px;
      text-align: center;
    }

    .seeded-image {
      height: 100px;

      h1 {
        font-size: 60px;
      }
    }
  }

  .right-page {
    width: 150%;
  }

  .key-content {
    margin-left: 10px;
    margin-right: 50px;
    width: 75%;
    height: 400px;

    h1 {
      font-size: 25px;
    }

    h3 {
      font-size: 20px;
    }

    h4 {
      font-size: 18px;
    }

    p {
      font-size: 14px;
      padding-right: 20px;
    }
  }

  .ratings {
    display: flex;
    justify-content: space-evenly;
  }

  .care-ratings {
    .rating-title {
      text-align: left;

      h4 {
        font-size: 16px;
      }
    }

    .tips-details {
      display: flex;
    }

    .rating-logo {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 20px;

      .logo-image {
        height: 100px;
      }

      img {
        width: 70px;
      }

      small {
        font-size: 12px;
      }
    }
  }

  .middle-section {
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      width: 600px;
      height: 250px;
    }
  }

  .bottom-section {
    margin-top: 200px;
    height: 90vh;
    align-items: center;

    .plant-pic {
      height: 400px;
      width: 30%;

    }

    .bottom-content {
      display: flex;
      flex-direction: row;
      .right-bottom {
        width:50%;
      }
      .facts {
        .facts-title {
          text-align: left;

          h4 {
            font-size: 16px;
          }
        }

        .facts-detail {
          display: flex;
          flex-direction: row;
        }

        .fact-logo {
          display: flex;
          flex-direction: column;
          align-items: center;
          padding: 20px;
          width: 17%;
          text-align: center;

          .fact-image {
            height: 100px;
          }

          img {
            width: 70px;
          }

          small {
            font-size: 12px;
          }
        }
      }
    }
  }
}


.seeded-says {
  h3 {
    font-size: 16px;
  }
  p {
    padding-right: 50px;
    font-size: 13px;
  }
}

.problem-section {
  .problem-title {
    h4 {
      font-size: 16px;
    }
  }
}

.carousel-multi-item {
  display: flex;
  flex-direction: column;
}

// #plantShow{
//   img{
//     width: 100%;
//   }

//   #plant-info{
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//   }

//   #buttons{
//     display: flex;
//     justify-content: space-evenly;
//   }

//   #plant-pic{
//     width: 350px;
//     height: 650px;
//   }

//   #reviews {
//     width: 50%;
//     margin: 50px auto;
//     text-align: center;
//     background-color: #f0f0f0;
//   }
// }