#profileImg{
  width: 200px;
}

#profile-wrapper{
  width: 100%;
  display: flex;
  background-image: url('../../../../public/images.png/profile-plant.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;

  #profile-left{
    width: 15%;
    margin-right: 2.5%;
    margin-left: 10%;
    border-radius: 20px;
    padding-bottom: 2%;
    position:fixed;

    button{
      width: 100%;
      background-color: white;
      font-size: 1.25rem;
    }

    button:focus{
      text-decoration: underline;
    }

    h1{
      font-weight: bold;
      font-size: 4em;
      text-align: center;
    }
    ul{
      width: 100%;
      padding: 0px;
      margin-bottom: 50px;
    }

    li{
      list-style: none;
      text-align: center;
      margin-bottom: 15px;
      font-size: 2em;
      margin: 0 auto;
    }

    p{
      text-align: center;
    }

    #img-wrapper{
      margin-bottom: 20px;
      margin-top: 50px;
      text-align: center;
    }

    img{
      border: 1px solid black;
      border-radius: 500px;
    }
  }

  #profile-right{
    width: 75%;
    border-radius: 20px;
    padding: 100px;
    padding-top: 50px;
    margin-right: 5%;
    height: 100%;
    position: relative;
    margin-left: 25%;

    h2{
      text-align: left;
      margin-bottom: 50px;
    }

    #profileFav{
      list-style: none;
      display: flex;
      flex-direction: column;
      justify-content: center;
      h2 {
        text-align: left;
      }

      .profileFav-img{
        display: inline-block;
        img{
          max-width: 100px;
          margin-right: 40px;
        }
      }
      .profileFav-item {
        margin-top:10px;
        margin-bottom: 10px;
        background-color: white;
        border-radius: 20px;
      }

      .profileFav-title{
        display: inline-block;
      }
    }

    p{
      margin-bottom: 0px;
      font-size: 1.2em;
    }

    .profileFav-sciName{
      font-style: italic;
    }

    a{
      text-decoration: none;
      color: black;
    }

    a:hover{
      color: #2C6900;
    }
  }
}

.no-content {
  height: 100vh;
}