.form-detail {
  width: 50%;
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 30px;
  border: 1px solid grey;
  margin-top: 30px;
  box-shadow: 0 0 10px grey;
  background-color: bisque;
  border-radius: 10px;
  label {
    font-size: 0.9em;
  }
  .input {
    margin-bottom: 15px;
  }
}
p.text-danger {
  color: red;
  text-align: center;
}