.search-wrapper{
  display: flex;
  align-items: center;
  margin-top: 3em;
  img{
    max-width: 5em;
    height: 7em;
    margin-right: 3em;
  }
  .searchInfo{
    text-align: center;
    .searchSci{
      font-style: italic;
      text-align: left;
    }
  }
  p{
    text-align: left;
  }
  h5{
    margin-bottom: 0;
    text-align: left;
  }
  a{
    text-decoration: none;
    color: black;
    display: inline-flex;
  }
  a:hover{
    color: #2C6900;
  }
}

#search-page{
  width: 45%;
  margin-left: 25%;
  margin-right: 30%;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

#search-results{
  text-align: center;
  margin-top: 0.5em;
}